.studentImg {
    height: 150px;
    width: 100px;
    display: block;
    margin: 0 auto;
}

.banner {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: rgb(255, 191, 81);
    padding-left: 5px;
}
.info-banner{
    width: 80%;
    height: 40px;
    border-collapse: collapse;
    background-color: rgb(212, 212, 212);
    margin: 0 auto;
    padding: 1px 1px 1px 1px;
    margin-bottom: 5px;
}
body{
    font-family: 'Trebuchet MS', sans-serif;
}
th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr {
    border-bottom: 1px solid gray;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

tr:first-child {
    background-color: rgb(255, 191, 81);
}

td:first-child {
    width: 5%;
}

td:nth-child(2) {
    width: 15%;
}

td:nth-child(3) {
    width: 10%;
}

td:nth-child(4) {
    width: 20%;
}
td:nth-child(6),
td:nth-child(7) {
    width: 10%;
}
