body{
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration:none;
}
.studentImg {
    height: 150px;
    width: 100px;
    display: block;
    margin: 0 auto ;
}
.banner {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 191, 81);
    padding-left: 5px;
}

body{
    font-family: 'Trebuchet MS', sans-serif;
}
th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr {
    border-bottom: 1px solid gray;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgb(255, 191, 81);
}

.t2 td:first-child {
    width: 5%;
}

.t2 td:nth-child(2) {
    width: 10%;
}

.t2 td:nth-child(3) {
    width: 15%;
}

.t2 td:nth-child(4) {
    width: 11%;
}

.t2 td:nth-child(5),
.t2 td:nth-child(6),
.t2 td:nth-child(7) {
    width: 18%;
}
.selected{
    font-weight: bold;
}